- if @git_commits.present?
  %h2 Your Latest Lols
  %p
    - @git_commits.each do |git_commit|
      = link_to(image_tag(git_commit.image.url, width: '185px'), git_commit.image.url)
%h2
  Getting Started
%ol
  - if current_user.blank?
    %li
      = link_to 'Login', "/auth/github", method: :post
      or
      = link_to 'Signup', "/auth/github", method: :post

  %li
    Install latest version of lolcommits and the dotcom plugin:
    %pre
      gem uninstall lolcommits lolcommits-dotcom
      gem install lolcommits lolcommits-dotcom

  %li
    =link_to 'Create a new repo', new_repo_path
    or have a collaborator on your repo give you the repo_external_id for the project they have configured.

  %li
    Enable lolcommits
    %pre
      cd &lt;repo directory&gt;
      lolcommits --enable

  %li
    Configure the lolcommits-dotcom plugin for your repo:
  %pre
    cd &lt;repo directory&gt;
    lolcommits --config --plugin dotcom
  %pre
    = "enabled: true\napi_key: #{current_user.blank? ? "<your user's api key>" : "#{current_user.api_key}"}\napi_secret: #{current_user.blank? ? "<your user's secret api key>" : "#{current_user.api_secret}"}\nrepo_id: <repo external id>"

  %li Smile for the camera when you make commits.
