%h2= current_repo.name

- if current_user && current_user.repos.include?(current_repo)
  .row
    .span8
      .well
        Keep your external id secure.  Anyone who knows this key can join your lolcommit repo.
        %br
        %b External Id:
        = current_repo.external_id
        %br
        %b Users:
        = current_repo.users.collect {|u| u.name}.join(',')
        %p
          = button_to('delete repo?', repo_path(current_repo), method: "delete", data: { confirm: "Are you sure? This will remove all uploaded lolcommit images for this repository from lolcommits-dot-com." }, class: 'btn btn-mini pull-right')
.users

.commits
  - @git_commits.each do |gc|
    .image
      = render gc, :show_repo => false, :show_name => true
= will_paginate @git_commits
